/* MOBILE FIRST */
/* Mobile */
/* -- header */
footer {
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .container div {
  color: white;
  font-size: 1.3em;

  font-weight: bold;
  text-transform: uppercase;
}

footer .container nav ul {
  display: flex;
  list-style: none;
}

footer .container nav ul li {
  padding: 15px;
}

footer .container nav ul li a {
  color: white;
  text-decoration: none;
}

footer .container nav ul li:hover {
  background: white;
}

footer .container nav ul li:hover a {
  color: rgb(132, 132, 148);
}

.listas {
  display: flex;
  flex-direction: column;
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* -- main */
  footer .container {
    /* width: calc(100% / 4 - 15px); */
    flex-direction: row;
  }
  .listas {
    flex-direction: row;
  }
  .listas li {
    margin-left: 80px;
  }
}
